# locally ignored filed can be defined in: "\taX\.git\info\exclude"
.hg/
.ignore/
.directory
*.asv
*.autosave
*.aux
*.bak
*.bit
*.blg
*.bbl
*.db
*.glo
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.orig
*.out
*.r20*
*.snm
*.svn
*.synctex.gz
*.toc
*.url
*~

# Do not check in individual projects
/Projects*
/.project

Testcases/*.mat
